@import './colors';
a {
  text-decoration: none !important;
}
.App {
  background: #fcfcfc;
}



@media (max-width: 1080px) {

  .collapse-button{
    display: block !important;
  }
  .navbar {
     .items, .main-menu, .connection, .dropdown {
        display: none!important;

     } 
  }
}