@import './colors';
a {
  text-decoration: none !important;
}
.App {
  background: #fcfcfc;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif !important;
  font-weight: 300 !important;
  font-style: normal;
  color: #222;
  text-rendering: optimizeLegibility;
}

.p-15 {
  padding-left: 0px;
}

body {
  width: 100%;
  background: #f4f4f4;
  height: 100%;
  font-family: "Roboto Condensed", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}

@media (max-width: 1080px) {
  .collapse-button {
    display: block !important;
  }
  .navbar {
    .items,
    .main-menu,
    .connection,
    .dropdown {
      display: none !important;
    }
  }
}
