@import '../colors';

.detailProduct {
    .p-15.pb-5 {
        position: relative;
        top: 11px;
    }
    .p-15 {
        padding-left: 0px;
    }
    .col-sm-11 h2 {
        font-weight: bold !important;
        margin-bottom: 4px;
    }
    .itempage {
        margin-top: -15px;
        padding-top: 30px !important;
    }
    .title {
        padding-bottom: 20px !important;
    }

    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        color: $secondary !important;
    }

    #pricing {
        display: inline-block;
        float: right;
        position: relative;
        top: -9px;
    }
    #licensetype {
        display: inline-block;
        width: 150px !important;
    }
    select.form-control:not([size]):not([multiple]) {
        height: calc(2.25rem + 2px);
    }
}
